In [25]:
import pandas as pd
import numpy as np

In [26]:
criminal_present = pd.read_csv('./data_2021/crime_in_Seoul_2021.csv',encoding='euc-kr')

In [27]:
criminal_present.head()

   구분     죄종 발생검거   건수
0  중부     살인   발생    1
1  중부     살인   검거    1
2  중부     강도   발생    3
3  중부     강도   검거    4
4  중부  강간,추행   발생  113

In [29]:
criminal_tmp = ['강간' if name == '강간,추행' else name for name in criminal_present['죄종']]

In [30]:
criminal_present['죄종'] = criminal_tmp

In [32]:
criminal_present['죄종'].unique()

array(['살인', '강도', '강간', '절도', '폭력'], dtype=object)

In [33]:
criminal_present['구분'].unique()

array(['중부', '종로', '남대문', '서대문', '혜화', '용산', '성북', '동대문', '마포', '영등포',
       '성동', '동작', '광진', '서부', '강북', '금천', '중랑', '강남', '관악', '강서', '강동',
       '종암', '구로', '서초', '양천', '송파', '노원', '방배', '은평', '도봉', '수서'],
      dtype=object)

In [35]:
criminal_present

     구분  죄종 발생검거    건수
0    중부  살인   발생     1
1    중부  살인   검거     1
2    중부  강도   발생     3
3    중부  강도   검거     4
4    중부  강간   발생   113
..   ..  ..  ...   ...
305  수서  강간   검거   194
306  수서  절도   발생  1010
307  수서  절도   검거   475
308  수서  폭력   발생  1394
309  수서  폭력   검거  1200

[310 rows x 4 columns]

In [39]:
criminal_present.groupby(['구분', '죄종','발생검거']).sum()

             건수
구분 죄종 발생검거
강남 강간 검거    433
      발생    513
   강도 검거     10
      발생     12
   살인 검거      3
...         ...
혜화 살인 발생      0
   절도 검거    310
      발생    581
   폭력 검거    628
      발생    747

[310 rows x 1 columns]

In [52]:
criminal_present['발생'] = criminal_present[criminal_present['발생검거'] == '발생']['건수']

In [53]:
criminal_present['검거'] = criminal_present[criminal_present['발생검거'] == '검거']['건수']

In [58]:
criminal_present = criminal_present.drop('강간 발생', axis=1)

In [56]:
criminal_present = criminal_present.fillna(0)

In [86]:
criminal_present

     구분  죄종 발생검거    건수      발생      검거
0    중부  살인   발생     1     1.0     0.0
1    중부  살인   검거     1     0.0     1.0
2    중부  강도   발생     3     3.0     0.0
3    중부  강도   검거     4     0.0     4.0
4    중부  강간   발생   113   113.0     0.0
..   ..  ..  ...   ...     ...     ...
305  수서  강간   검거   194     0.0   194.0
306  수서  절도   발생  1010  1010.0     0.0
307  수서  절도   검거   475     0.0   475.0
308  수서  폭력   발생  1394  1394.0     0.0
309  수서  폭력   검거  1200     0.0  1200.0

[310 rows x 6 columns]

In [87]:
criminal_present_new = criminal_present.drop(['발생검거', '건수'], axis=1)

In [88]:
criminal_present_new

     구분  죄종      발생      검거
0    중부  살인     1.0     0.0
1    중부  살인     0.0     1.0
2    중부  강도     3.0     0.0
3    중부  강도     0.0     4.0
4    중부  강간   113.0     0.0
..   ..  ..     ...     ...
305  수서  강간     0.0   194.0
306  수서  절도  1010.0     0.0
307  수서  절도     0.0   475.0
308  수서  폭력  1394.0     0.0
309  수서  폭력     0.0  1200.0

[310 rows x 4 columns]

In [77]:
criminal_present_new.index

RangeIndex(start=0, stop=310, step=1)

In [66]:
criminal_present_new = criminal_present_new.groupby(['구분', '죄종']).sum()

In [70]:
type(criminal_present_new['발생'])

pandas.core.series.Series

In [79]:

criminal_present_new = pd.pivot_table(criminal_present_new, index=['구분','죄종'], aggfunc=np.sum)

In [80]:
criminal_present_new

           검거      발생
구분 죄종
강남 강간   433.0   513.0
   강도    10.0    12.0
   살인     3.0     5.0
   절도  1016.0  1941.0
   폭력  1911.0  2283.0
...       ...     ...
혜화 강간    53.0    77.0
   강도     3.0     3.0
   살인     0.0     0.0
   절도   310.0   581.0
   폭력   628.0   747.0

[155 rows x 2 columns]

In [105]:
criminal_present_new

     구분  죄종      발생      검거
0    중부  살인     1.0     0.0
1    중부  살인     0.0     1.0
2    중부  강도     3.0     0.0
3    중부  강도     0.0     4.0
4    중부  강간   113.0     0.0
..   ..  ..     ...     ...
305  수서  강간     0.0   194.0
306  수서  절도  1010.0     0.0
307  수서  절도     0.0   475.0
308  수서  폭력  1394.0     0.0
309  수서  폭력     0.0  1200.0

[310 rows x 4 columns]

In [ ]:
for i in criminal_present_new['구분']

In [101]:
criminal_data = pd.DataFrame()
criminal_data['강간'] = 0
criminal_data['살인'] = 0
criminal_data['강도'] = 0
criminal_data['절도'] = 0
criminal_data['폭력'] = 0

In [102]:
criminal_data

Empty DataFrame
Columns: [강간, 살인, 강도, 절도, 폭력]
Index: []

In [103]:
location = criminal_present_new['구분'].unique()
criminal_data['구분'] = location

In [104]:
criminal_data

    강간  살인  강도  절도  폭력   구분
0  NaN NaN NaN NaN NaN   중부
1  NaN NaN NaN NaN NaN   종로
2  NaN NaN NaN NaN NaN  남대문
3  NaN NaN NaN NaN NaN  서대문
4  NaN NaN NaN NaN NaN   혜화
5  NaN NaN NaN NaN NaN   용산
6  NaN NaN NaN NaN NaN   성북
7  NaN NaN NaN NaN NaN  동대문
8  NaN NaN NaN NaN NaN   마포
9  NaN NaN NaN NaN NaN  영등포
10 NaN NaN NaN NaN NaN   성동
11 NaN NaN NaN NaN NaN   동작
12 NaN NaN NaN NaN NaN   광진
13 NaN NaN NaN NaN NaN   서부
14 NaN NaN NaN NaN NaN   강북
15 NaN NaN NaN NaN NaN   금천
16 NaN NaN NaN NaN NaN   중랑
17 NaN NaN NaN NaN NaN   강남
18 NaN NaN NaN NaN NaN   관악
19 NaN NaN NaN NaN NaN   강서
20 NaN NaN NaN NaN NaN   강동
21 NaN NaN NaN NaN NaN   종암
22 NaN NaN NaN NaN NaN   구로
23 NaN NaN NaN NaN NaN   서초
24 NaN NaN NaN NaN NaN   양천
25 NaN NaN NaN NaN NaN   송파
26 NaN NaN NaN NaN NaN   노원
27 NaN NaN NaN NaN NaN   방배
28 NaN NaN NaN NaN NaN   은평
29 NaN NaN NaN NaN NaN   도봉
30 NaN NaN NaN NaN NaN   수서

In [98]:
crime = criminal_present_new['죄종'].unique()

In [ ]:
if criminal_present_new['죄종']